<h1>DETAILS</h1>
<p><%= @task.details %></i></p>
<div class="button">
<%= link_to "Edit", task_edit_path, class:"btn btn-primary"%>
<%= link_to "back to list", tasks_path, class:"btn btn-secondary"%>
</div>
